<html lang="{{ shop.locale }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- SEO -->
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Favicon -->
  <link rel="icon" href="{{ shop.favicon | img_url: '32x32' }}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@400;700&display=swap"
    rel="stylesheet">

  <!-- Styles -->
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'header.css' | asset_url | stylesheet_tag }}
  {{ 'cart.css' | asset_url | stylesheet_tag }}
  <!-- Fasttify data -->
  {{ content_for_header }}

  {% render 'pagefly-head' %}
</head>

<body>


  {% render 'header' %}

  <main id="main" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  <!-- Sections -->
  {% section 'cart' %}
  {% section 'newsletter-popup' %}


  <!-- Scripts -->
  {{ 'newsletter-popup.js' | asset_url | script_tag }}
  {{ 'side-cart.js' | asset_url | script_tag }}

</body>

</html>